<footer class="footer">
  <div class="container footer-container">
    <p>&copy; {{ "now"|date("Y") }} Hearth Blue. Tous droits réservés.</p>
    <ul class="footer-menu">
      <li><a href="{{ path('app_home') }}#cgu">CGU</a></li>
      <li><a href="{{ path('app_home') }}#privacy">Politique de confidentialité</a></li>
      <li><a href="{{ path('app_home') }}#contact">Contact</a></li>
    </ul>
  </div>
</footer>
